

.c-red { background: red; color: white; }
.c-green { background: green; color: white; }
.c-blue { background: blue; color: white; }
.c-yellow { background: yellow; }
.c-cyan { background: cyan; }
.c-magenta { background: magenta; color: white; }
.c-orange { background: orange; }
.c-purple { background: purple; color: white; }
.c-black { background: black; color: white; }
.c-white { background: white; }